<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <link rel="stylesheet" href="ActionsListPage.css" />
    </head>
    <body>
        <h1>Ahoy Laker Configuration</h1>

        <section class="list">
            <div class="list-item">
                <div class="title" id="title"></div>
                <div class="key">Id:</div>
                <div class="value" id="id"></div>
                <div class="key">Name:</div>
                <div class="value" id="name"></div>
                <div class="key">Is Link:</div>
                <div class="value" id="is-link"></div>
                <div class="key">URL:</div>
                <div class="value" id="url"></div>
                <div class="key">Parent Id:</div>
                <div class="value" id="parent-id"></div>
            </div>
        </section>

        <script type="text/javascript" src="ActionsListPage.js" />
    </body>
</html>